version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
      timezone: "UTC"
    rebase-strategy: "auto"
    open-pull-requests-limit: 2
    labels:
      - "dependencies"
      - "github-actions"
      - "dependabot"
    commit-message:
      prefix: "chore"
      include: "scope"
    groups:
      github-actions-nonmajor:
        applies-to: version-updates
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    cooldown:
      semver-patch-days: 1
      semver-minor-days: 3
      semver-major-days: 14
